html,
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: rgb(61, 79, 92);
}

.logout {
  color: red;
}

.container {
  background-color: rgb(61, 79, 92);
  padding: 50px;
}

.field {
  display: flex;
  flex-direction: column;
  width: 300px;
  margin-bottom: 15px;
  text-align: left;
}

.field-checkbox {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.error {
  color: red;
  font-size: 15px;
  width: 300px;
  margin-top: 3px;
}

.login-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
}

label {
  font-size: 20px;
  color: white;
  margin-bottom: 3px;
}

form {
  text-align: right;
}

.submit-btn {
  margin-top: 15px;
  width: 100%;
}

.login-card {
    position: absolute;
    bottom: 50%;
    width: 300px;
}

.login-bg {
  height: 100vh;
  width: 100vw;
}

.bg-filter {
  width: 100vw;
  position: absolute;
  height: 100vh;
  background-color: black;
  opacity: 0.2;
}

.sign-up-text {
  color: #fff;
  font-size: 15px;
  margin-top: 10px;
  text-align: center;
}

.sign-up-text a {
  color: white;
}

.warehouse-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
}

.warehouse-image {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.ant-form-item-label {
  text-align: left!important;
}

.ant-upload-list{
  display: flex!important;
}

.ant-upload-select {
  width: 50px!important; 
  height: 50px!important;
}

.leaflet-container {
  width: 100%; 
  height: 800px;
}
.leaflet {
  height: 800px;
  width: 100%;
}

.finder-container {
  display: flex;
  gap: 40px;
  width: 500px;
  margin-bottom: 40px;
}

.finder-input {
  width: 300px;
  height: 40px;
}

.finder-btn {
  height: 40px;
  width: 100px;
}

.finder-text {
  font-size: 20px;
  color: white;
  font-weight: bold;
  margin-bottom: 15px;
}

.nearest-box {
  margin: 20px 0;
  font-size: 17px;
  font-weight: 600;
}